NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3BsZW5kaWQtaG9ybmV0LTQzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_TCZ9jdiJ9iY2FGMlOgnIzvtcVoinl8ECcniYfn5zLK

MONGODB_URI=mongodb+srv://codesplash7:f7trK7g2@cluster0.89tpg.mongodb.net/?appName=Cluster0
